.nav-container {
  width:100%;
  display:flex;
}

.logo {
  width: 180px;
  height: 60px;
  margin-top: 24px;
  margin-left: 24px;
  margin-right: auto;
}

.nav-menu-icon {
  font-size: 30px;
  margin-top: 30px;
  margin-right: 40px;
  cursor: pointer;
  transition: 0.2s all ease;
  color: #0d6efd;
}

.nav-menu-icon:hover {
  color: rgb(243, 106, 38);
}

.nav {
  position: fixed;
  font-family: "Futura";
  width: 100%;
  display: flex;
  background-image: linear-gradient(45deg, rgb(243, 106, 38), rgb(118, 52, 25));
  vertical-align: middle;
  max-height: 0;
  overflow-y: hidden;
  transition: 0.8s all ease;
}

.nav-tabs {
  border-bottom: none !important;
}

.nav > .nav-tabs > a {
  display: inline-block;
  text-decoration: none;
  vertical-align: middle;
  font-size: 16px;
  padding: 42px 16px;
  color: rgb(31, 31, 37);
}

.nav > .nav-tabs > a:hover {
  background-color: rgb(254, 254, 254);
  transition: 0.8s all ease;
}

.nav-menu-close-icon {
  margin-left: auto;
  font-size: 30px;
  margin-top: 30px;
  margin-right: 40px;
  padding-bottom: 25px;
  cursor: pointer;
  transition: 0.2s all ease;
}

.nav-menu-close-icon:hover {
  color: rgb(254, 254, 254);
}