.main {
  text-align: center;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Futura';
}

.nav-section {
  background-size: cover;
  background-repeat: no-repeat;
}


.nav-section > h1 {
  text-align: left;
  margin: 48px 20px;
  font-size: 36px;
}

.gradient-text {
  background-image: linear-gradient(45deg, rgb(243, 106, 38), rgb(118, 52, 25));
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.features {
  display: flex;
  flex-wrap: wrap;
  margin: 0 20px;
  padding-bottom: 36px;
  color: rgb(184, 179, 170);
}

.feature-group {
  text-align: left;
  display: flex;
  flex-direction: column;
  margin: 24px 0;
}

.feature-icon {
  display: block;
  font-size: 48px;
  margin-bottom: 24px;
}

