.register-section {
    background-size: cover;
    background-repeat: no-repeat;
}

.register-form h1 {
    color: #000000;
    margin: 0 0 15px;
    position: relative;
    text-align: center;
}

.register-form {
    margin: 64px auto;
    border: 2px solid rgb(184, 179, 170);
    border-radius: 30px;
    padding: 16px;
    box-shadow: inset 0 0 5px black;
    max-width: 450px;
    font-family: 'Futura';
    display: flex;
    flex-direction: column;
}

.register-link, .register-link:visited {
    color: #F26925;
}

.register-form > input[type="text"],
.register-form > input[type="password"],
.register-form > button,
.register-form > textarea {
  font-family: 'Futura';
  font-size: 1rem;
  padding: 0.20rem;
  border-radius: 0.375rem;
  border: 1px solid #ced4da;
}

.register-form > label,
.register-form > button {
  margin-top: 1rem;
  
}

.register-form > button {
  padding: 0.5rem;
  font-family: 'Futura';
}

.register-form > button:not(:disabled) {
    background: #0d6efd;
    color: #fff;
}

.instructions {
    font-size: 0.75rem;
    border-radius: 0.5rem;
    background: #000;
    color: #fff;
    padding: 0.25rem;
    position: relative;
    bottom: -10px;
}

.instructions > svg {
    margin-right: 0.25rem;
}

.offscreen {
    position: absolute;
    left: -9999px;
}

.hide {
    display: none;
}

.valid {
    color: limegreen;
    margin-left: 0.25rem;
}

.invalid {
    color: red;
    margin-left: 0.25rem;
}

.errmsg {
    background-color: lightpink;
    color: firebrick;
    font-weight: bold;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
}

.line {
    display: inline-block;
}