/* @import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap'); */

/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

/* html {
    font-family: 'Nunito', sans-serif;
    font-size: 14px;
    color: #fff;
} */

/* body {
    min-height: 100vh;
    background-color: rgb(130, 76, 0);
    background-image: url("https://raw.githubusercontent.com/230123-UTA-SH-Java-React-AWS/Team4Project1/Jason/BG/Revature%20Hexagon.jpg");
} */

/* .App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
  min-height: 100vh; 
  padding: 1rem 0.5rem;
} */

.register-section {
    background-size: cover;
    background-repeat: no-repeat;
}

.register-form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-grow: 1;
    padding: 1rem;
    background-color: #474c55;
    max-width: 450px;
    margin: 64px auto;
}

.register-link, .register-link:visited {
    color: #fff;
}

.register-form > input[type="text"],
.register-form > input[type="password"],
.register-form > button,
.register-form > textarea {
  font-family: 'Nunito', sans-serif;
  font-size: 22px;
  padding: 0.25rem;
  border-radius: 0.5rem;
}

.register-form > label,
.register-form > button {
  margin-top: 1rem;
}

.register-form > button {
  padding: 0.5rem;
}

.instructions {
    font-size: 0.75rem;
    border-radius: 0.5rem;
    background: #000;
    color: #fff;
    padding: 0.25rem;
    position: relative;
    bottom: -10px;
}

.instructions > svg {
    margin-right: 0.25rem;
}

.offscreen {
    position: absolute;
    left: -9999px;
}

.hide {
    display: none;
}

.valid {
    color: limegreen;
    margin-left: 0.25rem;
}

.invalid {
    color: red;
    margin-left: 0.25rem;
}

.errmsg {
    background-color: lightpink;
    color: firebrick;
    font-weight: bold;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
}

.line {
    display: inline-block;
}